<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <base href="<%= webpackConfig.metadata.baseUrl %>">
    </head>
    <body>
        <my-app>
            Loading...
        </my-app>

        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--<script src="dist/app.bundle.js"></script>-->

        <% if (webpackConfig.metadata.isDevServer && webpackConfig.metadata.HMR !== true) { %>
            <!-- Webpack Dev Server reload -->
            <script src="/webpack-dev-server.js"></script>
        <% } %>
    </body>
</html>