<div class="row">
    <div class="col-md-3" ng-mouseleave="$ctrl.starExit()">
        <a href ng-repeat="i in [1, 2, 3, 4, 5]" 
                ng-click="$ctrl.onRate({ stars: i })" 
                style="text-decoration:none">
        <span class="glyphicon" 
            ng-class="$ctrl.hasStar(i) ? 'glyphicon-star': 'glyphicon-star-empty'" 
            ng-mouseover="$ctrl.starHover(i)"
            ng-style="$ctrl.starStyle(i)"
            aria-hidden="true">
        </span>
        </a>
        <span class="label label-success">{{ $ctrl.reviews.count }}</span>
    </div>
</div>