<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in $ctrl.products" ng-click="$ctrl.selectProduct(product)">
                            <th scope="row">{{ product.name }}</th>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
