<div class="container" id="product-section">
    <div class="row">
        <div class="col-md-6">
            <img ng-src="{{product.imageUrl}}" class="img-responsive" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ product.name }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-primary">{{ product.tag }}</span>
                    <span>{{ product.model }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        {{ product.description }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <span class="sr-only">{{ product.reviews.stars }}</span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span class="label label-success">{{ product.reviews.count }}</span>
                </div>
                <div class="col-md-3">
                    <span class="monospaced">Write a Review</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-rule">
                    <h2 class="product-price">{{ product.price | currency }}</h2>
                </div>
            </div>
            <div class="row add-to-cart">
                <div class="col-md-5 product-qty">
                    <span class="btn btn-default btn-lg btn-qty">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </span>
                    <input class="btn btn-default btn-lg btn-qty" ng-model="product.quantity" />
                    <span class="btn btn-default btn-lg btn-qty">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </span>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-lg btn-brand btn-full-width">Add to Cart</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <span class="monospaced">In Stock</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 bottom-rule top-10"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="nav-item active">
                            <a href="#description" role="tab" data-toggle="tab" class="nav-link active">Description</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#features" role="tab" data-toggle="tab" class="nav-link">Features</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#notes" role="tab" data-toggle="tab" class="nav-link">Notes</a>
                        </li>
                        <li role="presentation" class="nav-item">
                            <a href="#reviews" role="tab" data-toggle="tab" class="nav-link">Reviews</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="description">
                            <p class="top-10">
                                {{ product.longDescription }}
                            </p>
                            <p>
                                <small>(source <a ng-href="product.sourceUrl">{{ product.sourceUrl }}</a>)</small>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane top-10" id="features">
                            <ul>
                                <li ng-repeat="feature in product.features">{{ feature }}</li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="notes">
                            <p>Notes</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="reviews">
                            <p>reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
